/* header css */
.bg-color{
  background-color: rgb(222 222 222);
}

/* hero css */
.hero-list{
  margin-top: 0px;
  padding-left: 6rem;      
}



/* distributer css */

.item-container {
  width: 250px;
  margin: 10px;
}
.item-image {
  width: 100%;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.items-container {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.items-container {
  width: 80%;
  margin: 40px 10%;
}


/* cropList css */

.crop-details{
  overflow-wrap: break-word;
}


/* about css */
.about-para{
  margin-top: 1rem;
}


/* footer css */

.footer-p{
  padding-top: 4rem;
}